body {
  background-color: aliceblue;
  text-align: center; 
}

h1 {
  margin-top: 15%;
  text-align: center;
}

.btn {
  width: 25%;
}

.col-md-12 {
  margin: 0 auto;
  padding-top: 1%;
  padding-bottom: 1%;
}

.correctNotif {
  text-align: center;
  color: green;
  font-size: 24px;
}

.incorrectNotif {
  text-align: center;
  color: red;
  font-size: 24px;
}

#cont1{
  display: none;
}

#cont2, #cont3, #cont4, #cont5{
display: none;
}



#description {
  text-align: center;
}

a#highscores {
  float: left;
  padding-left: 1%;
  padding-top: 1%;
}

#intro {
  display: blovk;
}

#luck {
  font-weight: bold;
  text-align: center;
}








